@import "tailwindcss";

html,
body,
:root {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #020617; /* slate-950-ish */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.up-gradient {
  background: radial-gradient(circle at top left, #5b34ff 0, transparent 55%),
    radial-gradient(circle at top right, #ff6b35 0, transparent 55%);
}

