@use "../../../styles/abstracts" as *;

.section {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  margin-bottom: $spacing-lg;
}

.sectionTitle {
  margin: 0;
  color: $white-80;
  @include p-sm;
}

.optionGrid {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-sm;
}
