@use "../../../styles/abstracts" as *;

.dropdown {
  position: absolute;
  z-index: 80;
  top: calc(100% + $spacing-xs);
  left: 0;
  right: 0;
  max-height: 22rem;
  overflow: auto;
  overscroll-behavior: contain;
  border-radius: $border-radius-md;
  background: $neutral-2;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: $spacing-sm;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}

.option {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-xs;
  border-radius: $border-radius-sm;
  padding: $spacing-sm;
  transition: background $transition-normal;

  &:hover {
    background: $white-05;
  }
}

.optionActive {
  background: $white-10;
}

.optionLabel {
  font-size: $font-size-sm;
  line-height: $line-height-tight;
  margin: 0;
  color: $white;
  font-weight: $font-weight-bold;
}

.optionSublabel {
  font-size: $font-size-xs;
  color: $white-60;
  line-height: $line-height-tight;
  margin: 0;
}
