@use "../abstracts/index" as *;

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}

input,
textarea,
select {
  @include p-base;
  border: none;
  background: none;
  outline: none;
  
  &:focus-visible {
    outline: none;
  }
}

a {
  text-decoration: none;
}

hr {
  border: none;
  height: 0;
  background-color: transparent;
}
