@use "../abstracts/index" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: $white-20 transparent;

  &:focus {
    outline: none;
  }
}

html {
  font-size: clamp(14px, 1.5vw, 16px);
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  color: $white;
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $neutral-2;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  overscroll-behavior: none;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $white-20;
  border-radius: $border-radius-full;

  &:hover {
    background-color: $white-40;
  }
}
