@use "../abstracts/index" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: $font-weight-extrabold;
  line-height: $line-height-tight;
}

h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

h5,
.h5 {
  @include h5;
}

h6,
.h6 {
  @include h6;
}

p {
  @include p-base;
}

.p-lg {
  @include p-lg;
}

.p-base {
  @include p-base;
}

.p-sm {
  @include p-sm;
}

.p-xs {
  @include p-xs;
}
